header{
    height: 660px !important;
    width: 100%;
    background: url('../img/background/contactUs.png') no-repeat center !important;
    background-size: cover;
}
.content-nav{
    margin:  60px 0 119px 0;
    display: flex;
    justify-content: space-around;
}
.content-nav>li:nth-child(1) a{
    display: block;
    width: 110px;
    height: 110px;
    background: url("../img/contactUs/phone.png") 100% 100% no-repeat;
}
.content-nav>li:nth-child(2) a{
    display: block;
    width: 110px;
    height: 110px;
    background: url("../img/contactUs/weixin.png") 100% 100% no-repeat;
}
.content-nav>li:nth-child(3) a{
    display: block;
    width: 110px;
    height: 110px;
    background: url("../img/contactUs/qq.png") 100% 100% no-repeat;
}


.content-nav>li{
    position: relative;
}
.content-nav div{
    display: none;
    width: 250px;
    height: 250px;
    position: absolute;
    padding: 20px;
    background: red;
    top: -325px;
    left: -80%;
}
.content-nav>li.active div{
    display: block;
    background-color : rgba(000, 000, 000, .5);
    animation:myfirst1 2s;
    -moz-animation:myfirst1 2s; /* Firefox */
    -webkit-animation:myfirst1 2s; /* Safari and Chrome */
    -o-animation:myfirst1 2s; /* Opera */
  }
  
  @keyframes myfirst1
  {
  from {background:rgba(000, 000, 000, .1);}
  to {background:rgba(000, 000, 000, .5);}
  }
  
  @-moz-keyframes myfirst1 /* Firefox */
  {
    from {background:rgba(000, 000, 000, .1);}
    to {background:rgba(000, 000, 000, .5);}
  }
  
  @-webkit-keyframes myfirst1 /* Safari and Chrome */
  {
    from {background:rgba(000, 000, 000, .1);}
    to {background:rgba(000, 000, 000, .5);}
  }
  
  @-o-keyframes myfirst1 /* Opera */
  {
    from {background:rgba(000, 000, 000, .1);}
    to {background:rgba(000, 000, 000, .5);}
    }