body { font:14px/1.8 arial;}
html, body{ height:100%; }

body{
    font-family:Arial,Helvetica,sans-serif;
    font-size:100%;
}
 header{
    width: 100%;
    height:9.8rem;
    background: url('../img/index/indexph-1.png') no-repeat center;
    background-size: cover;
} 
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem .48rem;
    height: 1.8rem;
    background: rgba(000, 000, 000, .1)
}

.logo>a{
    display: block;
    width: 2.64rem;
    height: 1.2rem;
    background: url("../img/index/logo.png") no-repeat center;
    background-size: 100% 100%;
}
nav{
    display: flex;
    height: .9rem;
    justify-content: space-between;
    align-items: center;
}
nav>a{
    display: inline-block;
    text-align: center;
    font-size: .52rem;
    width: auto;
    color: #ffffff;
    border-bottom: .03rem solid  rgba(000, 000, 000, .0);
    padding: .42rem 0;
    margin: 0 .2rem
}
nav>a:last-child{
    border: 1px solid #fff;
    color: #fff;
    border-radius: .12rem;
    padding: .1rem .2rem
}
nav>a.active{
    border-color: #dc3882
}

@media(max-width:350px){
    .head{
        padding: 0 .24rem;
    }
}
.head-centent{
    margin: 1.72rem 0 0 2.16rem ;
    width: 4.68rem
}
.head-centent>p:nth-child(1){
    font-size: .76rem;
    color: #fff;
}
.head-centent>p:nth-child(2){
    font-size: .44rem;
    color: #fff;
    font-family: "PingHei-Light";
    margin: -.16rem 0 .24rem 0;
}
.download{
    height: 1.76rem;
    display: flex;
    align-items: center;
}
.download>img{
    width: 1.76rem;
    height: 1.76rem;
}
.download_{
    height: 100%;
    margin-left: .28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.download_>a,.centent-right>img{
    display: block;
    width: 2.64rem;
    height: .68rem;
}
.download_>a:nth-child(1){
    background: url("../img/index/IOS.png") no-repeat center;
    background-size: 100% 100%;
}
.download_>a:nth-child(2){
    background: url("../img/index/Androit.png") no-repeat center;
    background-size: 100% 100%; 
}
.download_>a{
    display: block;
}
footer{
    background-color: #6b1e66;
    padding: .4rem .52rem .4rem .12rem;
}
footer>p{
    font-size: .4rem;
    color: #db83d5;
    line-height: .6rem;
    opacity: 0.4;
}
#contact footer{
    position: absolute;
    left: 0;
    bottom:0;
}
